#content {
  margin: auto;
  width: 500px;
}

$stripeTag: 'ul';
$stripeItemTag: 'li';
$pagerItemTag: 'a';

.ss-wrapper {
  border: solid 1px black; //***

  position: relative;
  //overflow: hidden;
  //height: 15rem;

  img {
    vertical-align: top; //*
  }

  > #{$stripeTag} {
    //background: gray; //***

    float: left;
    position: relative;
    margin: 0; //*
    padding: 0; //*
    list-style: none;

    > #{$stripeItemTag} {
      border: solid 1px black; //***

      box-sizing: border-box; //*
      float: left;
    }
  }
}

.ss-prev, .ss-next, .ss-pager > #{$pagerItemTag} {
  &:hover {
    cursor: pointer;
  }
}

.ss-pager {
  .-active {
    border: solid 1px black; //***
  }
}
